* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

ul {
    list-style: none;
}

a{
	text-decoration: none;
	color:white;
}

body {
    background-color: #3d3d3d;
    color: white;
    letter-spacing: 0.5px;
    font-weight: 300;
    font-size: 1em;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
}

.top-header {
    width: 90%;
    margin: 0px 5%;
    height: 60px;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 100;
    background: rgba(232, 76, 61, 0.95);
    opacity: 60%;
    box-shadow: 0px 2px 10px #333;
}

.avatar {
    background-color: white;
    color: #595959;
    text-align: center;
    width: 40px;
    border-radius: 50%;
    padding: 10px;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 20px;
}

.top-nav {
    flex: 1;
}

.top-nav a {
    text-decoration: none;
    padding: 5px 10px;
    font-weight: 600;
    color: white;
    margin-left: 10px;
}

.top-nav a:hover {
    border-radius: 25px;
    transition: 0.2s;
    background: #333;
    color: #e84c3d;
    box-shadow: 0px 0px 10px #333;
}

.container {
    background: #272727;
    position: relative;
    display: flex;
    align-items: center;
    width: 90%;
    height: 600px;
    margin: 0px 5%;
    box-shadow: 0px 0px 10px black;
}


#card h1{
    padding: 20px;
}

#card span{
    margin-left: 20px;
}

.name{
    font-weight: bold;
    height: 200px;
    text-align: center;
    padding-top: 150px;
    font-size: 40px;
    font-family: 'Slabo 27px', serif;
}

.flex{
    display: flex;
    height: 200px;
}

.element{
    font-family: 'Roboto', sans-serif;
    line-height: 20px;
    font-size: 15px;
    padding-top: 120px;
    margin-left: 15px;
}

#card {
    height: 400px;
    width: 600px;
    z-index: 1;
    color:white;
    margin: 0 auto;
    box-shadow: 0px 0px 10px black;
    border-radius: 20px;
    background: rgb(15, 15, 15);
}

.footer {
    position: relative;
    width: 80%;
    margin: 5% 10%;
    clear: both;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#login{
    cursor: pointer;
}

#login:hover{
    color: #333;
}

.footer ul {
    font-size: 0.8em;
    border-top: 1px solid white;
    padding-top: 3%;
    width: 80%;
    margin: 3% auto;
    display: flex;
    align-items: center;
}

.footer ul li {
    text-align: center;
    height: 5%;
    flex: 1;
}

.footer ul li p {
    margin: 3%;
}

