* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

ul {
    list-style: none;
}

body {
    background-color: #3d3d3d;
    color: white;
    letter-spacing: 0.5px;
    font-weight: 300;
    font-size: 1em;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
}


.log-button{
    cursor: pointer;
    background-color: rgb(70, 69, 69);
    border-radius: 5px;
    padding: 2px 5px;
}

.log-button:hover{
    background-color:rgb(87, 87, 87);
}

.top-header {
    width: 90%;
    margin: 0px 5%;
    height: 60px;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 2;
    background: rgba(232, 76, 61, 0.95);
    opacity: 60%;
    box-shadow: 0px 2px 10px #333;
}


.avatar {
    background-color: white;
    color: #595959;
    text-align: center;
    width: 40px;
    border-radius: 50%;
    padding: 10px;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 20px;
}

.top-nav {
    flex: 1;
}

.top-nav a {
    text-decoration: none;
    padding: 5px 10px;
    font-weight: 600;
    color: white;
    margin-left: 10px;
}

.top-nav a:hover {
    border-radius: 25px;
    transition: 0.2s;
    background: #333;
    color: #e84c3d;
    box-shadow: 0px 0px 10px #333;
}

.top-pic {
    width: 90%;
    margin: 0px 5%;
    background-size: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    background-image: url("https://i.imgur.com/9od0mSo.jpg");
}

.top-pic p {
    flex: 1;
    padding: 10px 15px;
    border-left: solid white 2px;
    text-align: left;
    font-size: 30px;
    font-weight: 900;
    margin-top: 50px;
    margin-left: 30%;
    margin-right: 70%;
}

.top-pic span {
    color: #ff5131;
    font-weight: 1000;
}

aside {
    background: #e84c3d;
    z-index: 1;
}

.container {
    background: #e84c3d;
    width: 90%;
    margin: 0px 5%;
    display: flex;
    overflow: hidden;
    align-items: stretch;
    box-shadow: 0px 0px 10px black;
}

.notice {
    font-size: 1.5em;
    margin: 20% auto;
    text-align: center;
}

.notice i {
    padding-right: 10px;
}

.container #content-nav {
    display: flex;
    flex-direction: column;
    float: left;
    min-width: 210px;
    max-width: 400px;
}

#content-nav-icon {
    text-shadow: 3px 3px 10px #333;
    text-align: center;
    color: white;
    margin: 20px;
    font-size: 15px;
}

.top-title{
    margin-right: 10px;
}

#content-nav-icon:hover {
    text-shadow: 3px 3px 20px #333;
    transition: 0.4s;
}

#content-nav nav .active {
    background: #333;
    color: #e84c3d;
    font-weight: 800;
    box-shadow: -3px 3px 10px #333;
}

#content-nav nav i {
    margin-right: 5px;
    font-size: 1.2em;
    width: 24px;
    heigh: 25px;
}

.content-nav-btn:hover {
    background: rgba(51, 51, 51, 0.9);
    box-shadow: 3px 3px 5px #333;
    transition: 0.3s;
}

.content-nav-btn {
    border-radius: 15px 0px 0px 15px;
    text-align: left;
    flex: 1;
    display: block;
    text-decoration: none;
    color: white;
    font-size: 1em;
    font-weight: 300;
    padding: 15px 20px;
    z-index: 1;
}

#item-list {
    border-radius: 25px 0px 0px 25px;
    background-color: #333;
    float: right;
    width: 100%;
    z-index: 1;
    box-shadow: -3px 3px 10px #333;
    min-height: 800px;
    list-style: none;
}

.item {
    border-radius: 25px;
    font-size: 0.85em;
    color: #ffffff;
    background: #272727d1;
    display: flex;
    width: 90%;
    margin: 1% 5%;
    padding: 20px;
    align-items: center;
    box-shadow: 0px 0px 5px black;
}

.item:hover {
    box-shadow: 0px 0px 30px black;
    color: #333;
    width: 92%;
    margin-left: 4%;
    margin-right: 4%;
    transition-duration: 0.2s;
    background: rgba(255, 255, 255, 0.90);
}

.item:hover .item-addr {
    border-right: 1px solid #333;
}

.item div:first-of-type {
    flex: 1;
}

.item-name {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
    padding: 10px;
}

.item-category {
    font-style: italic;
    margin-top: 5px;
    padding-top: 5px;
    padding-left: 10px;
}

.item img {
    margin-right: 10px;
    max-width: 150px;
    height: 100px;
    box-shadow: 0px 0px 10px black;
}

.item-addr {
    text-align: right;
    padding-right: 20px;
    border-right: 1px solid white;
}

.fas .fa-heart {
    color: #e84c3d;
}

.like {
    padding: 0px 15px;
    width: 25px;
}

.like:hover {
    color: #e84c3d;
}

.footer {
    width: 80%;
    margin: 5% 10%;
    clear: both;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.footer ul {
    font-size: 0.8em;
    border-top: 1px solid white;
    padding-top: 3%;
    width: 80%;
    margin: 3% auto;
    display: flex;
    align-items: center;
}

.footer ul li {
    text-align: center;
    height: 5%;
    flex: 1;
}

.footer ul li p {
    margin: 3%;
}